##
## Cloud Provider Information
##
provider "aws" {
    region = "{{region}}"
{% if profile is defined %}
    profile = "{{profile}}"
{% endif %}
{% if credentials is defined %}
    shared_credentials_file = "credentials"
{% endif %}
}

data "aws_caller_identity" "current" {}

data "aws_region" "current" {}
