{% set base=env ~ "-" ~ project ~ ( "-" ~ app if app is defined else "" ) %}
{% import 'common.inc.j2' as funcs with context %}

resource "aws_vpc" "{{base}}" {
    cidr_block = "{{vpc.cidr}}"
    enable_dns_hostnames = true

{{ funcs.tags(base, vpc.tags|default([])) }}
}

{% if vpc.internet_gw is defined and vpc.internet_gw %}
resource "aws_internet_gateway" "{{base}}" {
    vpc_id = aws_vpc.{{base}}.id

{{ funcs.tags(base, vpc.tags|default([])) }}
}

{% endif %}

locals {
	vpc = aws_vpc.{{base}}.id
{% for subnet in vpc.subnets|map(attribute='shortname')|list|unique %}
  {{subnet}} = join(",",[{% for mynets in vpc.subnets|selectattr("shortname","equalto",subnet)|sort(attribute='az')|map(attribute='name') %}aws_subnet.{{base~'_'~mynets}}.id,{% endfor %}])
{% endfor %}
}

output "vpc-id" {
  value = local.vpc
}

{% for subnet in vpc.subnets|map(attribute='shortname')|list|unique %}
output "{{subnet}}" {
  value = local.{{subnet}}
}
{% endfor %}
