{% set base=env ~ "-" ~ project ~ ( "-" ~ app if app is defined else "" ) %}
{% for sg in (security_groups|default([])) %}
##
## security group
##
resource "aws_security_group" "sg-{{base}}-{{sg.name}}" {
    name = "{{base}}-{{sg.name}}-sg"

    ##
    ## egress rules
    ##
{% for rule in (sg.egress | default ([{'from_port': 0, 'to_port': 0, 'proto': -1, 'dest': '0.0.0.0/0'}])) %}
    egress {
        from_port = {{rule.from_port}}
        to_port = {{rule.to_port}}
        protocol = {{rule.proto}}
{% set destcomma = joiner(',') %}
        cidr_blocks = [{% for cidr in (rule.dest if (rule.dest is not string) else [rule.dest]) %} {{destcomma()}}"{{cidr}}" {% endfor %}]
    }
{% endfor %}
{% if sg.descr is defined %}
    description = "{{sg.descr|default('')}}"
{% endif %}

    vpc_id = "${local.vpc}"
    tags {
        Name = "sg-{{base}}-{{sg.name}}"
        Environment = "{{env}}"
        Project = "{{project}}"
    }

{% for rule in sg.ingress %}
{% for proto in ((rule.ip_proto|default(['-1'])) if (rule.ip_proto is not string) else [rule.ip_proto]) %}
    ##
    ## individual firewall rule
    ingress {
        from_port = {{rule.from_port|default(0 if (proto == 'tcp' or proto == 'udp') else -1 )}}
        to_port = {{rule.to_port|default(65535 if (proto == 'tcp' or proto == 'udp') else -1 )}}
        protocol = "{{proto}}"
{% if rule.source is defined %}
## {{rule.source}}   string={{rule.source is string}} starts={{rule.source is string and rule.source.startswith('sg-')}}
{% if rule.source is string and rule.source.startswith('sg-') %}
        security_groups = ["{{rule.source}}"]
{% else %}
{% set cidrcomma = joiner(',') %}
        cidr_blocks = [ {% for cidr in (rule.source if (rule.source is not string) else [rule.source]) %} {{cidrcomma()}}"{{cidr}}" {% endfor %}
]
{% endif %}
{% endif %}
{% if (rule.self|default(False)) or not (rule.source is defined and rule.source|length > 0) %}
        self = true
{% endif %}
    }
{% endfor %}
{% endfor %}
}
{% if sg.exported is defined and sg.exported %}
output "sg-{{sg.name}}" {
  value = "${aws_security_group.sg-{{base}}-{{sg.name}}.id}"
}
{% endif %}
{% endfor %}
