/* Auto Reboot CloudWatch Alarm */
resource "aws_cloudwatch_metric_alarm" "instance-cloudwatch-recoveryboot" {
    alarm_name = "${var.TAG_NAME}-autoreboot"
    alarm_description = "Terraform Managed Resource"
    comparison_operator = "GreaterThanThreshold"
    threshold = "0"
    alarm_actions = ["arn:aws:swf:${data.aws_region.current.name}:${data.aws_caller_identity.current.account_id}:action/actions/AWS_EC2.InstanceId.Reboot/1.0"]
    dimensions = {
        InstanceId = "${coalesce(join(",",aws_instance.instance.*.id),join(",",aws_instance.instance-dsk-lcl-gb.*.id))}"
    }
    metric_name = "StatusCheckFailed"
    namespace = "AWS/EC2"
    period = "60"
    statistic = "Minimum"
    evaluation_periods = "1"
}
