
{% for rol in (iam_roles|default([])) %}

resource "aws_iam_role" "rl-{{rol.name}}" {
    name = "{{rol.name}}"
    assume_role_policy = "{{rol.assume_role_policy}}"
}

{% for pol in (rol.policies|default([])) %}
resource "aws_iam_policy_attachment" "attach-{{rol.name}}-{{pol}}" {
  name       = "attach-{{rol.name}}-{{pol}}"
  roles      = ["${aws_iam_role.rl-{{rol.name}}.name}"]
  policy_arn = "${aws_iam_policy.{{pol}}.arn}"
}
{% endfor #policies %}

{% endfor #roles %}

{% for prf in (instance_profiles|default([])) %}
##
## IAM Instance Profile
##
resource "aws_iam_instance_profile" "ip-{{prf.name}}" {
    name = "{{prf.name}}-instance-profile"
    role = "${aws_iam_role.rl-{{prf.role}}.name}"
}
{% endfor %}
