{% set base=env ~ "-" ~ project ~ ( "-" ~ app if app is defined else "" ) %}

resource "aws_vpc" "{{base}}" {
    cidr_block = "{{vpc.cidr}}"
    enable_dns_hostnames = true

    tags = {
       Name = "${{base}}"
    }
}
